.trendingContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.homeHeader {
  color: black;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
